html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "helvetica neue", helvetica, arial;
	color: white;
	height: 100% !important;
}

h1 {
	font-size: 70px;
	line-height: 1.4em;
}

h2 {
	font-size: 34px;
	line-height: 1.4em;
}

p {
	font-size: 26px;
	line-height: 1.4em;
}

.skinny {
	font-weight: 100;
	letter-spacing: 0.045em;
}

.picture {
	height: 100%;
	width: 100%;
}

.picture .bkg {
	height: 100%;
	width: 100%;
}

.picture1 .bkg {
	background: url('../img/background1.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.picture2 .bkg {
	background: url('../img/background2.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.grooveLogo {
	width: 178px;
	height: 44px;
	top: 5%;
	left: 5%;
	background: url('../img/groove.png') no-repeat;
	position: fixed;
	background-size: 100%;
}

.grooveIcon {
	width: 28px;
	height: 44px;
	top: 5%;
	left: 5%;
	background: url('../img/groove-icon.png') no-repeat;
	position: fixed;
	background-size: 100%;
	z-index: 999;
}

#intro {
	/*width: 45%;
	left: 50%;*/
	padding-top: 250px;
	/*margin-left: -22.5%;*/
	text-align: center;
}

.info-section {
	background: #333;
	/*height: 100%;*/
	width: 100%;
	z-index: 3;
	position: relative;
}

.info-wrapper {
	width: 60%;
  padding: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.infoHeader {
	padding-bottom: 10px;
}

.chart {
	top: 15%;
	left: 5%;
	width: 550px;
	height: 550px;
	position: fixed;
}

.hormoneChartBackground {
	background: url('../img/hormoneChartBackground.png');
}

.hormoneChart1 {
	background: url('../img/hormoneChart1.png');
}

.hormoneChart2 {
	background: url('../img/hormoneChart2.png');
}

.chartInfoBox {
	top: 15%;
	left: 50%;
	position: fixed;
	width: 45%;
	background-color: #333;
}

.chartInfo {
	text-align: left;
	padding: 0 5% 5% 5%;
	position: relative;
}