<!-- Document Footer -->

    <div id="footer">
    	<p class="skinny small">
          <a class="textLink" href="http://www.readytogroove.com/press">press</a>
          |
          <a class="textLink" href="http://www.readytogroove.com/privacy">privacy policy</a>
          |
    				<a class="textLink" href="http://www.readytogroove.com/terms">terms of use</a>
          |
          <a class="textLink" href="mailto:howdy@readytogroove.com">howdy@readytogroove.com</a>
      </p>
    	<p class="skinny small">&copy; 2014 Groove, LLC. All rights reserved.</p>
    	<p class="skinny small">Crafted with <span class="pink">love</span> in Austin, Texas.</p>
    </div>

  </body>
</html>