<!-- Document Footer -->

    <div id="footer">
    	<p class="skinny small">
          <a class="textLink" href="/press">PRESS</a>
          |
          <a class="textLink" href="/privacy">PRIVACY POLICY</a>
          |
          <a class="textLink" href="/terms">TERMS OF USE</a>
          |
          <a class="textLink" href="mailto:howdy@readytogroove.com">CONTACT US</a>
      </p>
    	<p class="skinny small">&copy; 
        <script>now = new Date
        document.write(now.getFullYear());</script> 
        Groove, LLC. All rights reserved.
      </p>
    	<p class="skinny small">Crafted with <span class="pink">love</span> in Austin, Texas.</p>
    </div>

  </body>
</html>