<!-- Document Header -->

<!DOCTYPE html>
<html lang="en">

<!--Header starts here-->
	<head>
		<meta charset="utf-8">
		<title>{{page.title}}</title>
		<meta property="og:site_name" content="What is cervical fluid?"/>
    <meta property="og:title" content="What is cervical fluid?"/>
    <meta property="og:image" content="http://www.readytogroove.com/img/groove-icon.jpg"/>
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:description" content="Learn about cervical fluid, or cervical mucus, and why it's vital for your health." />
    <meta name="description" content="Learn about cervical fluid, or cervical mucus, and why it's vital for your health.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" href="/what-is-cervical-fluid/img/favicon.png" type="image/png">
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>