<!-- Document Header -->

<!DOCTYPE html>
<html lang="en">

<!--Header starts here-->
	<head>
		<meta charset="utf-8">
		<title>{{page.title}}</title>
		<meta property="og:site_name" content="What is cervical fluid?">
        <meta property="og:title" content="{{page.title}}">
        <meta property="og:image" content="http://www.readytogroove.com/img/book/watery-cervical-fluid.png">
        <meta property="og:image:type" content="image/png">
        <meta name="twitter:site" content="What is cervical fluid?" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{page.title}}" />
        <meta name="twitter:image" content="http://www.readytogroove.com/img/book/watery-cervical-fluid.png" />
        {% if page.description %}
            <meta name="description" content="{{page.description}}">
            <meta property="og:description" content="{{page.description}}">
            <meta name="twitter:description" content="{{page.description}}" />
        {% else %}
            <meta name="description" content="Learn about cervical fluid (or cervical mucus), where it comes from, and why it's an important part of female reproductive health and family planning.">
            <meta property="og:description" content="Learn about cervical fluid (or cervical mucus), where it comes from, and why it's an important part of female reproductive health and family planning.">
            <meta name="twitter:description" content="Learn about cervical fluid (or cervical mucus), where it comes from, and why it's an important part of female reproductive health and family planning." />
        {% endif %}
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

	    <link rel="shortcut icon" href="/what-is-cervical-fluid/img/favicon.png" type="image/png">
			<link rel="stylesheet" type="text/css" href="css/reset.css" />
			<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>